.filter {
    filter: brightness(50%);
}
@media only screen and (max-width: 988px){
    .filter{
    height: 500px;
    }
}


.img-card{
    width: 100px;
    height: 205px;
}
@media only screen and (max-width: 1400px){
    .imges .img-card{
        width: 300px;
        height: 200px;
    }
}

   
    

@media only screen and (max-width: 988px){
    .imges .img-card{
        width: 100%;
        height: 100%;
       }
}

.register{
    color: white;
   
}
.register-stu{
    padding: 50px;
}
.btn-std button{
    padding: 5px 25px;
}
.company-img img{
    width: 120px;
    padding-bottom: 100px;
}
 

.learing-icon a{
 font-size: 20px;
 background-color: rgb(10, 10, 10);
 padding: 5px;
 border-radius: 20px;
 margin: 10px;
}